body {
  font: PT Sans 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: black;
}

h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

.reasons, .services {
  font-size: 0px;
}

.reasons-item {
  background: red;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  min-height: 256px;
  font-size: 14px;
  text-align: center;

}

.reasons-image {
  background: yellow;
  display: inline-block;
  min-height: 256px;
  vertical-align: top;

}

.services-item {
  background: green;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  font-size: 14px;
  text-align: center;
}
