@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: black;
}

h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

ul {
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: left;
}

li {
  display: inline-block;
  vertical-align: top;
}

.main-navigation a {
  color: black;
  display: block;
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #cfc9c6;
}

.main-navigation a:visited {
  color: #eeeeee;
}

.main-navigation li:first-child {
  padding-left: 73px;
  width: 227px;
}

.main-navigation li:nth-child(2) {
  padding-left: 12px;
  width: 288px;
}

.main-navigation li:nth-child(3) {
  padding-left: 200px;
  width: 100px;
}

.main-navigation li:nth-child(4) {
  padding-left: 150px;
  width: 150px;
}

.logo {
  width: 138px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.wellcome {
  background: #e2eff8 url(../img/background-image.jpg);
  background-position: 0 29%;
  text-align: center;
  padding-top: 76px;
  height: 433px;
}

.wellcome img {
  display: block;
  margin-left: auto;
  margin-right: auto;}

.wellcome-bottom {
  margin-top: 24px;
}

.plain-text {
  background: white;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 36px;
}

.plain-text p {
  line-height: 26px;
  padding-top: 13px;
}


.reasons, .services {
  font-size: 0px;
}

.reasons-item {
  background: #81b3d2;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  font-size: 14px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 38px;
}

.reasons-item h2, .reasons-item span, .reasons-item p {
  display: block;
}

.reasons-item span {
  padding-top: 4px;
  color: white;
}

.reasons-item p {
  padding-top: 6px;
  color: white;
}

.reasons-grey {
  background: #eeeeee;
  color: black;
  padding-top: 32px;
  padding-bottom:44px;
}

.reasons-grey h2, .reasons-grey span, .reasons-grey p {
  display: block;
  color: black;
}

.reasons-grey span {
  padding-top: 4px;
  color: black;
}

.reasons-grey p {
  padding-top: 6px;
  color: black;
}


.reasons-image {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}

.services h2 {
  color: black;
  margin-top: 163px;
  margin-bottom: 23px;
}

.services-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  font-size: 14px;
  text-align: center;
  padding-bottom: 67px;
}
.services-item::before {
  content: "";
  position: absolute;
  top: 58px;
  left: 163px;
  width: 75px;
  height: 75px;
  background-image: url(../img/services-icon.png);
  background-repeat: no-repeat;
}

.services-item:nth-child(2)::before {
  background-position: -75px 1px;
}

.services-item:nth-child(3)::before {
  width: 64px;
  margin-left: 4px;
  background-position: -150px 0px;
}

.search-text {
  padding-top: 33px;
  text-align: center;
}

.search-text p {
  line-height: 24px;
  margin-bottom: 45px;
}

.search-text a {
  display: block;
  width: 566px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
  background: #766357;
  margin-left: 315px;
  padding-top: 30px;
  padding-bottom: 32px;
}
.map {
  position: relative;
}
.search-form {
  position: absolute;
  top: 0px;
  background: white;
  width: 459px;
  margin-left: 315px;
  padding-top: 54px;
  padding-bottom: 52px;
  padding-left: 54px;
  padding-right: 55px;
  box-shadow: 0 0 10px 0 rgba (0,0,0,0.7);
}

.search-form label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 38px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.search-form input {
  display: inline-block;
  vertical-align: top;
  background: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.search-date {
  width: 100%;
}

.search-date-in {
  margin-left: 2px;
}

.date-in {
  margin-left: 20px;
  padding-left: 15px;
  width: 331px;
}

.date-out {
  margin-left: 18px;
  padding-left: 12px;
  width: 334px;
}


.search-person {
  width: 40px;
  margin-left: -4px;
  text-align: center;
}

button.search-minus, button.search-plus {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  background-image: url(../img/plus-minus.png);
  background-repeat: no-repeat;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

button.search-minus {
  margin-left: 25px;
  background-position: -38px 0;
}

button.search-minus:hover {
  background-position: -38px -38px;
}

button.search-minus:active {
  background-position: -38px -76px;
}

button.search-plus {
  margin-left: -4px;
  margin-right: 20px;
}

button.search-plus:hover {
  background-position: 0 -38;
}

button.search-plus:active {
  background-position: 0 -76px;
}

span.search-adults {
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
}

span.search-child {
  display: inline-block;
  vertical-align: middle;
  margin-left: 22px;
}

button.search-find {
  width: 460px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 26px;
  background: #81b3d2;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.features-lists, .sort {
  font-size: 0px;
}

.features-lists {
  background: #63696f url(../img/background-hotels.jpg);
  padding-top: 14px;
}

.list {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.list:nth-child(1) {
  padding-left: 73px;
}

.list:nth-child(2) {
  padding-left: 15px;
}

.list:nth-child(3) {
  width: 400px;
  margin-left: 232px;
}

.list label {
  display: block;
  padding-top: 12px;
  padding-bottom: 13px;
}

.list h2 {
  font-size: 16px;
}

button {
  display: block;
}

.sort {
  border-bottom: 1px solid #e5e5e5;
}

.sort-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.sort-item h3 {
  font-size: 21px;
  width: 163px;
  padding-left: 73px;
  margin-top: 33px;
  margin-bottom: 33px;
}


.sort-item ul {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0px;
}

.sort-item li {
  display: inline-block;
  vertical-align: top;
  width: 82px;
  margin-top: 36px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-item li:nth-child(2) {
  margin-left: 32px;
}

.sort-item i {
  width: 35px;
}

.sort a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort a:hover {
  color: #89b8d5;
  border-bottom: 1px dotted #81b3d2;
}

.sort a:active {
  color: black;
  border-bottom: 0px;
}

.hotel-item {
  outline: 1px dotted blue;
  font-size: 0px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  margin: 0;
}

.hotel-image {
  display: inline-block;
  vertical-align: middle;
  width: 165px;
  padding-top: 30px;
  padding-bottom: 19px;
  padding-left: 73px;

}

.hotel-name {
  display: inline-block;
  vertical-align: top;
  width: 782px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding-top: 11px;
}

.hotel-name a {
  color: black;
}

.hotel-name a:hover {
  color: #c3dbe9;
}

.hotel-name a:active {
  color: #eeeeee;
}

.hotel-type {
  outline: 1px dotted red;

  display: inline-block;
  vertical-align: top;
  width: 110px;
  font-weight: normal;
  font-size: 14px;
  line-height: 8px;
}

.hotel-price {
  outline: 1px dotted pink;

  display: inline-block;
  vertical-align: top;
  width: 142px;
  font-weight: normal;
  font-size: 14px;
  line-height: 8px;
}

.hotel-type a, .hotel-price a {
  display: block;
  background: #766357;
  color: white;
  font-weight: bold;
  padding-left: 16px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-top: 20px;
}
.hotel-type a {
  background: #81b3d2;
}

.hotel-rating {
  outline: 1px dotted brown;

  display: inline-block;
  vertical-align: middle;
  background: #f2f2f2;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 13px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.sort-up {
  display: block;
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-bottom: 7px solid red;

}
.hotel-rating span {
  color: #666666;
}

footer {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0;
  position: absolute;
  margin-top: -126;
}

.hashtag, .social-item, .academy {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 44px;
}

.hashtag a {
  display: block;
  margin-top: 10px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.social-item a {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  background-image: url(../img/social-icon.png);
  background-repeat: no-repeat;
  margin-right: 6px;
}

.social-tw:hover {
  background-position: -46px 0;
}

.social-tw:hover {
  background-position: -92px 0;
}

.social-fb {
  background-position: 0 -48px;
}

.social-fb:hover {
  background-position: -46px -48px;
}

.social-fb:active {
  background-position: -92px -48px;
}

.social-youtube {
  background-position: 0 -96px;
}

.social-youtube:hover {
  background-position: -46px -96px;
}

.social-youtube:active {
  background-position: -92px -96px;
}

.academy a {
  display: block;
  width: 195px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: black;
  text-align: left;
  padding-top: 7px;
  padding-bottom: 6px;
  margin-left: 102px;
  margin-top: 4px;
  background-image: url(../img/academy-logo.png);
  background-repeat: no-repeat;
  background-position: 82 0;
}

.academy a:hover {
  background-image: url(../img/academy-logo.png);
  background-repeat: no-repeat;
  background-position: 82 -39;
}

.academy a:active {
  background-image: url(../img/academy-logo.png);
  background-repeat: no-repeat;
  background-position: 82 -78;
}
